<?xml version="1.0" encoding="utf-8"?>
<!-- Test-only. Declares the Activity BiometricPrompt needs a window from. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.ghosterdex.wallet.TestHostActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>
</manifest>
